.jobContainer {
    width: 60%;
    margin: 2rem 0;
    border-bottom: 1px solid color(black);
}

.scrollToTop {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(black, 0.15);
    padding: 0;
    width: 3rem;
    height: 3rem;
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    z-index: 999;
    svg{
        width: 22px;
        height: 22px;
        fill: color(primary,base);

    }
} 