* {
    font-family: CascadiaCode, monospace;
    box-sizing: border-box;
    border: 0 solid;
    color: rgb(235, 219, 178);
}
html {
    background: rgb(40, 40, 40);
    border-color: rgb(21, 190, 63);
    border-radius: .25rem;
    overflow: hidden;
    height: 100%;
    padding: 16px;
    border-width: 2px;
    height: 100%;
    overflow: auto;
    margin: 0;
    line-height: inherit;
}
img {
    user-select: none;
    width: 100%;
    height: auto;
}
.cli-blue{
    font-size: larger;
    font-weight: 600;
    color: rgb(0, 60, 255);
}
.footer{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}