@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");.
chroma{padding-left:1em;border-left:2px solid #666}.chroma code{font-family:"Inconsolata", monospace;tab-size:2}
.chroma .lntd{vertical-align:top;padding:0;margin:0;border:0}.
chroma .lntable{border-spacing:0;padding:0;margin:0;border:0;width:100%;overflow:auto;display:block}
.chroma .hl{display:block;width:100%;background-color:#ffffcc}
.chroma .lnt{margin-right:0.4em;padding:0 0.4em 0 0.4em;display:block}.
chroma .ln{margin-right:0.4em;padding:0 0.4em 0 0.4em}
.chroma .k{font-weight:bold}.chroma .kc{font-weight:bold}
.chroma .kd{font-weight:bold}.chroma .kn{font-weight:bold}
.chroma .kr{font-weight:bold}.chroma .nc{font-weight:bold}
.chroma .ni{font-weight:bold}.chroma .ne{font-weight:bold}
.chroma .nn{font-weight:bold}.chroma .nt{font-weight:bold}
.chroma .s{font-style:italic}.chroma .sa{font-style:italic}
.chroma .sb{font-style:italic}.chroma .sc{font-style:italic}
.chroma .dl{font-style:italic}.chroma .sd{font-style:italic}
.chroma .s2{font-style:italic}
.chroma .se{font-weight:bold;font-style:italic}.chroma .sh{font-style:italic}.chroma .si{font-weight:bold;font-style:italic}.chroma .sx{font-style:italic}.chroma .sr{font-style:italic}.chroma .s1{font-style:italic}.chroma .ss{font-style:italic}.chroma .ow{font-weight:bold}.chroma .c{font-style:italic}.chroma .ch{font-style:italic}.chroma .cm{font-style:italic}.chroma .c1{font-style:italic}.chroma .cs{font-style:italic}.chroma .ge{font-style:italic}.chroma .gh{font-weight:bold}.chroma .gp{font-weight:bold}.chroma .gs{font-weight:bold}.chroma .gu{font-weight:bold}*{font-size:15px}@media (max-width: 400px){*{font-size:12px}}html{background:#202020;color:#e6e6e6;font-family:"Inconsolata", monospace;max-width:800px;margin:0 auto}p{line-height:1.5em}h1,h2,h3{font-size:1em}h1::before{content:'# ';color:#666}h2::before{content:'## ';color:#666}h3::before{content:'### ';color:#666}a{color:#e6e6e6;text-decoration:underline}a:hover{background:#e6e6e6;color:#202020;text-decoration:none}strong{background:white;color:#181b1e;padding-left:4px;padding-right:4px}.undecorated,.undecorated:hover{background:none;margin:0;padding:0}
img{max-width:100%;background:blue;margin:0;padding:0}
