*{
margin:0 !important;
}*
dcn-header{
    padding: 10px !important;
    top:0% !important;
}
.right-nav{
    float: left !important;
    color: #fff;
    
    text-align: center;
}
.menu{
    display: none;
    border: 2px 1px 0px 2px solid rgb(0,0.1,0.1);
  
}

.main:hover > .menu{
    display: block;
}
