textarea#editor {
    position: relative;
    top: 45px;
    left: -471px;
    width: 50%;
}


        .popup-alert{
            z-index: 1;
  font-family: inherit;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    border: 2px solid;
    margin: 10px;
    width: max-content;
    background-color: #fff;
   
}
/* body{
    background-color: black !important;
    color: green;
} */
.run{
    width: 40px;
    position: relative;
    top: 80px;
    left: -466px;
    font-weight: 700;
}
.blur-bg{
    background:rgba(0,0,0,0.4);
    width: 100%;
    height:1350px;
}
.x {
    cursor: pointer;
    z-index: 1;
    position: relative;
    top: -22px;
    left: 90px;
    width: 22px;
    background: red;
    border-radius: 12px;
}
    