* {
    margin: 0 !important;
  }
  
  * dcn-header {
    padding: 10px !important;
    top: 0% !important;
  }
  
  .right-nav {
    float: left !important;
    color: #fff;
  
    text-align: center;
  }
  
  .menu {
    position: fixed;
    line-height: 200%;
    padding-top: 1% !important;
    height: 100%;
    max-height: 1500px;
    width: 20vw;
    /* border: 2px solid black; */
  }
  
  .recommended {
    position: fixed;
    top: 15%;
    right: 0%;
  }
  
  .recommended h1,
  h2,
  h3 {
    text-align: center;
  }
  
  .recommended img {
    cursor: pointer;
  }
  
  .recommended img:hover {
    scale: 0.99;
  }
  
  .menu hr {
    display: hidden;
  }
  
  dcn-nav-button {
  
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5vw;
  
    display: list-item;
    padding-left: 1.5vw;
    font-weight: 600;
    font-size: 20px;
  
  }
  
  dcn-nav-button img {
    display: inline-flex;
    padding-left: 2px;
  }
  
  .visiting {
    background-color: var(--blue) !important;
    color: #fff !important;
  }
  
  dcn-nav-button:hover {
    background-color: var(--blue);
    color: #fff;
  }
  
  .bottom {
    position: relative;
    bottom: 0%;
  }
  
  /* .main {
      position: relative;
      top: 0%;
      right: 20vw;
  } */
  
  .round {
    border-radius: 50%
  }
  
  .icon {
    display: inline-flex;
    width: 25px;
    height: 25px;
  }
  
  .icon2 {
    display: inline-flex;
    width: 35px;
    height: 35px;
  }
  
  a {
    color: blue
  }
  
  a:hover {
    color: blue;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  /* body {
    font-family: "Quicksand", sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    background: #7f7fd5;
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  } */
  
  .container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
  }
  
  .main img {
    cursor: pointer;
    max-width: 100%;
    display: block;
    object-fit: cover;
    overflow: hidden;
  }
  
  
  
  .card {
    display: flex;
    flex-direction: column;
    min-width: clamp(20rem, calc(20rem + 2vw), 22rem);
    width: 40%;
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    height: max-content;
  }
  
  
  
  .card__body {
    padding: 6px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  
  .tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
  }
  
  .tag+.tag {
    margin-left: .5em;
  }
  
  .tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
  }
  
  .tag-brown {
    background: #D1913C;
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
  }
  
  .tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
  }
  
  .card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  
  .card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
  }
  
  .user {
    display: flex;
    gap: .5rem;
  }
  
  .user__image {
    border-radius: 50%;
  }
  
  .user__info>small {
    color: #666;
  }
  
  .main {
    position: absolute;
    top: 15%;
    left: 40vw;
    overflow-y: visible;
  }
  
  .card h4 {
    font-size: 15px;
  }
  
  .card p {
    font-size: 12px;
    line-height: 1.7;
  }
  /* .card h5{
    font-size:15.9px;
  
  } */
  .card_header,.card__body,.card__footer,.user,.user__info{
    overflow: hidden;
  }
  .footer{
    position: absolute;
  
  }
  .spinner {
    display: inline-block;
    position: fixed;
    left: 742px;
    top:174px;
    cursor:progress;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: black;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @keyframes pulse {
  from {
    box-shadow:  0 0 0 0 rgba(255,255,255,1),
                 0 0 0 0 rgba(51,51,51,1);
  }
  to {
    box-shadow:  0 0 0 0.65em rgba(255,255,255,1),
                 0 0 0 1em rgba(51,51,51,0);
  }
}
.login-panel-i{
  position:fixed;right:10px;
}
.i-b{
  padding:8px !important;
  color:var(--blue);
  font-weight:700;border: 1px solid;
  width:max-content !important
}
.w-h{
  height: 24px;
}
.welcome-board{
  padding: 5px;
  border:none;
  font-size:24px;
  font-weight:700;
  
  color:var(--red);
  text-align:center;
  width:max-content;
  height: 40px !important;
  overflow-x: hidden !important;
  animation:unroll 3s;
}
@keyframes unroll{
  10%{
    opacity: 0;
    width: 0px;

  }
  20%{
    opacity: 0.2;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
    width:max-content;
    
  }
}